//--------------------------------------
// Utility
//--------------------------------------
.m-t-0 {
  margin-top: 0;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.m-r-100 {
  margin-right: 100px;
}

.m-t-100 {
  margin-top: 100px;
}

// Utility color classes
.fill-wild-sand {
  background: $wild-sand;
}

.align-middle {
  display: flex;
  align-items: center;
}

